<div class="row">
        <div class="input-group col-10">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary" (click)="onSearch(box.value)">{{this.Content[searchFlag]}}</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="toggleSearch(0)">By First Name</a>
                    <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="toggleSearch(1)">By Vip Level</a>
                    <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="toggleSearch(2)">List ALL</a>
                    </div>
                </div>
                <input [disabled]="isDisabled()" #box (keyup.enter)="onSearch(box.value)" type="text" class="form-control" aria-label="Text input with segmented dropdown button" [(ngModel)]="searchValue">
            </div>
            <div class="toolbar-button">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#clientModal">
                    <img src="../../../../assets/icon/svg/plus.svg" class="happy-icon">
                        New Client
                </button>
            </div>
            <div class="toolbar-button">
                <button type="button" class="btn btn-primary" (click)="onSearch(box.value)">
                    <img src="../../../../assets/icon/svg/loop-circular.svg" class="happy-icon">
                </button>
            </div>
</div>
<table class="table table-striped">
    <tr *ngFor="let client of service.list">
        <td (click)="populateForm(client)">{{client.FirstName}} {{client.LastName}}</td>
        <td (click)="populateForm(client)">Level {{client.VipLevel}}</td>
        <td><button (click)="onDelete(client.ClientId,this.searchFlag)" class="btn btn-sm btn-outline-danger">
            <img src="../../assets/icon/svg/x.svg" id="icon-x">
        </button></td>
    </tr>
</table>
<table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">ClientId</th>
        <th class="text-left">First Name</th>
        <th class="text-left">Last Name</th>
        <th class="text-left">Vip Level</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
        <td class="text-left">001</td>
        <td class="text-left">Haoyuan</td>
        <td class="text-left">Guo</td>
        <td class="text-left">3</td>
        </tr>
        <tr>
                <td class="text-left">002</td>
                <td class="text-left">Jiahan</td>
                <td class="text-left">Xi</td>
                <td class="text-left">2</td>
                </tr>
                <tr>
                        <td class="text-left">003</td>
                        <td class="text-left">Xiaoyue</td>
                        <td class="text-left">Ren</td>
                        <td class="text-left">2</td>
                        </tr>
                        <tr>
                                <td class="text-left">001</td>
                                <td class="text-left">Haoyuan</td>
                                <td class="text-left">Guo</td>
                                <td class="text-left">3</td>
                                </tr>
                                <tr>
                                        <td class="text-left">002</td>
                                        <td class="text-left">Jiahan</td>
                                        <td class="text-left">Xi</td>
                                        <td class="text-left">2</td>
                                        </tr>
                                        <tr>
                                                <td class="text-left">003</td>
                                                <td class="text-left">Xiaoyue</td>
                                                <td class="text-left">Ren</td>
                                                <td class="text-left">2</td>
                                                </tr>
                                                <tr>
                                                        <td class="text-left">001</td>
                                                        <td class="text-left">Haoyuan</td>
                                                        <td class="text-left">Guo</td>
                                                        <td class="text-left">3</td>
                                                        </tr>
                                                        <tr>
                                                                <td class="text-left">002</td>
                                                                <td class="text-left">Jiahan</td>
                                                                <td class="text-left">Xi</td>
                                                                <td class="text-left">2</td>
                                                                </tr>
                                                                <tr>
                                                                        <td class="text-left">003</td>
                                                                        <td class="text-left">Xiaoyue</td>
                                                                        <td class="text-left">Ren</td>
                                                                        <td class="text-left">2</td>
                                                                        </tr>
        </tbody>
        </table>
<!-- Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div>
                <app-client></app-client>
            </div>   
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
              <button type="button" class="btn btn-primary" (click)="modalOnSubmit()">Submit</button>
            </div>
          </div>
        </div>
      </div>