<div class="row">
    <div class="input-group col-10">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-outline-secondary"
                (click)="onSearch(box.value)">{{this.Content[searchFlag]}}</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="toggleSearch(0)">By Location Name</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="toggleSearch(1)">By Postal Code</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="toggleSearch(2)">List ALL</a>
            </div>
        </div>
        <input [disabled]="isDisabled()" #box (keyup.enter)="onSearch(box.value)" type="text" class="form-control"
            aria-label="Text input with segmented dropdown button" [(ngModel)]="searchValue">
    </div>
    <div class="toolbar-button">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#LocationModal"
            (click)="onNewLocation()" #newClientButton>
            <img src="../../../../assets/icon/svg/plus.svg" class="happy-icon">
            New Location
        </button>
    </div>
    <div class="toolbar-button">
        <button type="button" class="btn btn-primary" (click)="onRefresh()">
            <img src="../../../../assets/icon/svg/loop-circular.svg" class="happy-icon">
        </button>
    </div>
</div>
<div class="row">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Location Name</th>
                <th class="text-left">Post Code</th>
                <th class="text-left">Address</th>
                <th class="text-left">Additional Info</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr (click)="onSelect(location)" *ngFor="let location of service.Locationlist">
                <td class="text-left">{{location.LocationId}}</td>
                <td class="text-left">{{location.PostCode}}</td>
                <td class="text-left">{{location.LocationAddress}}</td>
                <td class="text-left">{{location.AdditionalInfo}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="LocationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <app-location></app-location>
            </div>
            <div class="modal-footer">
                <button *ngIf="this.isItemSelected" type="button"
                    (click)="onDelete(this.service.formData.LocationId)"
                    class="btn btn-danger button-delete">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
                <button [disabled]="this.service.formData.LocationId == ''" type="button" class="btn btn-primary" (click)="modalOnSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>