<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://happyparty.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>happyparty.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HAPPYPARTY</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HAPPYPARTY</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PartyFinalEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=h62guostudentserver.database.windows.net;Initial Catalog=PartyFinal;Persist Security Info=True;User ID=h62guo;Password=Ghyoit12%" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LocalDBwebAPI.Models.PartyFinalEntities, LocalDBwebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PartyEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-V8U6O8T\SQLEXPRESS;Initial Catalog=Party;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PartyEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PartyModel.csdl|res://*/Models.PartyModel.ssdl|res://*/Models.PartyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V8U6O8T\SQLEXPRESS;initial catalog=Party;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PartyEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="PartyFinalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PartyFinalModel.csdl|res://*/Models.PartyFinalModel.ssdl|res://*/Models.PartyFinalModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=h62guostudentserver.database.windows.net;Initial Catalog=PartyFinal;Persist Security Info=True;User ID=h62guo;Password=Ghyoit12%"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>