<div class="sidebar">
    <img src="../../assets/img/newlogo.png" id="sidebar-logo">
    <div class="follows">
        <a href="https://github.com/Bi5h0ps/HappyParty" class="link-no-dec">
            <img src="../../assets/img/github-logo.png" id="github-logo">
            Bi5h0ps/HappyParty
        </a>
    </div>
    <div class="sidebar-nav">
        <a routerLink="/home" class="sidebar-nav-item">Home</a>
        <a routerLink="/management" class="sidebar-nav-item">Managment</a>
        <a routerLink="/partyservice" class="sidebar-nav-item">Service</a>
        <div class="sidebar-nav-last-item">
            <a class="sidebar-nav-item">
                <img src="../../assets/icon/svg/people.svg" class="icon-light" id="icon-people">
                <p>Group25</p>
                <p>@Haoyuan, Hongliang</p>
                <p>@Jiahan, Guanyang</p>
            </a>
        </div>
    </div>
</div>