<div class="mg-2 content">
    <form #form="ngForm" autocomplete="off">
        <div class="form-group">
            <input maxlength="8" [disabled]="this.service.isUpdate"  placeholder="Location Id" name="LocationId" #EventDate="ngModel"
                [(ngModel)]="service.formData.LocationId" class="form-control custom-input">
        </div>
        <div class="form-group">
            <input maxlength="6" placeholder="Post Code" name="PostCode" #InviteeNum="ngModel" [(ngModel)]="service.formData.PostCode"
                class="form-control custom-input ">
        </div>
        <div class="form-group">
            <input maxlength="100" placeholder="Address" name="LocationAddress" #LocationAddress="ngModel" [(ngModel)]="service.formData.LocationAddress"
                class="form-control custom-input ">
        </div>
        <div class="form-group">
            <textarea maxlength="150" class="form-control" placeholder="AdditionalInfo" name="AdditionalInfo" #AdditionalInfo="ngModel" aria-label="With textarea" [(ngModel)]="service.formData.AdditionalInfo"></textarea>
        </div>
    </form>
</div>